import os
HOME = os.getenv('APPS_HOME') + '/stacomms'

SPREADSHEET = dict(
        ID='',
        TITLE='',
        SCOPE='https://spreadsheets.google.com/feeds',
        WORKSHEET='',
        FORM='',
        SHARE_EMAIL=''
        # share the Google spreadsheet with `SHARE_EMAIL`
        )

OAUTH_CONFIG=''

WEB_SERVICE = dict(
        HOST='http://localhost',
        PORT=6090,
        THREADS=200,
        LOGS='%s/web/logs/' % HOME
        )

CONSUMER = dict(
        #SLEEP_TIME=3600,
        SLEEP_TIME=5,
        LOGS='log-stacomms-daemon',
        _HOME='%s/consumer' % HOME,
        MAX_ID_FILE='%s/consumer/maxid.json' % HOME,
        ITERATION_EMPTY_COUNT=5, # stop row iteration after x empty rows
        ITERATION_COUNT_LIMIT=50 # maximum iterations per loop
        )

EMAIL = dict(
        URL='',
        WHITELIST={'toggle': True, #send email only to whitelist addresses
            'list': ['']
            },
        NOTIFICATIONS=True  # Email notifications toggle
        )
